# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Continuous Testing Framework for Docker
Documentation=https://github.com/gaia-docker/tugbot

After=registrator.service
Wants=registrator.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=20min
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Restart policy
Restart=on-failure
RestartSec=20s

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker stop tugbot-run
ExecStartPre=-/usr/bin/docker rm tugbot-run

ExecStart=/bin/bash -a -c 'docker run \
--name tugbot-run \
-v /var/run/docker.sock:/var/run/docker.sock \
-e TUGBOT_WEBHOOKS=http://tugbot-rses.skydns.local:8081 \
gaiadocker/tugbot:master'

# Stop
ExecStop=/usr/bin/docker stop mr-burns

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=general=true